<p>Algorithmic complexity timer</p>
<br>
<h1> Function: .last</h1>
<h1><% @data_ranges_last.each_with_index do |data_set, index| %></h1>
      <tr>
        <td> <%= data_set %> </td>
        <td> <%= @times_last[index] %></td>
        <br>
      </tr>
    <% end %>
<br>
<br>
<h1> Function: .reverse</h1>
<h1><% @data_ranges_reverse.each_with_index do |data_set, index| %></h1>
      <tr>
        <td> <%= data_set %> </td>
        <td> <%= @times_reverse[index] %></td>
        <br>
      </tr>
    <% end %>
<br>
<br>
<h1> Function: .shuffle</h1>
<h1><% @data_ranges_shuffle.each_with_index do |data_set, index| %></h1>
      <tr>
        <td> <%= data_set %> </td>
        <td> <%= @times_shuffle[index] %></td>
        <br>
      </tr>
    <% end %>
